C2V/
DCP/
VHEE/
Kay/
DWA*/
BA1/
FEBE/*/
Errors/
Old/
*.hdf5
*.001
*.astra
*.log
*.fmt2
*.sdds
*.dat
*.cen
*.twi
*.sig
*.ini
*.ele
*.flr
*.lte
*.mat
*.gdf
*.bak
*.xlsx
*.png
*.in
NORRAN
*.generator
*/nelder-mead*/*
*/nelder_mead*/*
*/*GA/*
*/MOGA/*
test*/
*.csv
*.lnk
*best*/
*basefiles*/
Dechirper/
gaussian*/
example*/
simplex*/
*changes*.yaml
*.in
NORRAN
iteration_*/
basefiles_*/